@import url(/style.css);
*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 

.grid-area{ 
    display: grid; 
    grid-template-columns: 180px auto; 
    grid-template-rows: 100px auto; 
    grid-template-areas: "header header header" 
                        "sidebar content content" ; 
    background-color: black; 
} 
.header{ 
    grid-area: header;
    border: 1px solid white;
    border-bottom: 1px solid white; 
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-evenly;
} 
.sidebar{ 
    grid-area: sidebar; 
    border-right: 1px solid white; 
} 

.content{ 
    grid-area: content; 
}

.sidebar{
    display: grid; 
    grid-template-columns: 1, 90%; 
    grid-template-rows: 4, 30%; 
    
}

.content{
    justify-content: center;
}


.logo{
    width: 150px;
}

.busqueda{
   width: 300px;
   height: 30px;
   background-color: black;
   border-radius: 10px;
   border: 1px solid gray;
}

.item{
    background-color: black;
    align-items: space-evenly;
}
a{
    text-decoration: none; color: #5e5c5c; 

}

.cuenta{
    color:blue
}